$list-color: #002147;
$accent-color: #fdc800;
$nav-height: 82.5px;

nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    opacity: 0.9;
    padding: 0 89.5px;
    height: $nav-height;

    img {
        height: 33px;
    }

    .custom-icon {
        padding-left: 30px;
        border-left: 1px solid #d3d3d3;
    }

    > ul {
        display: flex;
        list-style: none;
        height: 100%;

        li {
            height: 100%;
            position: relative;

            button {
                height: 100%;
                border: none;
                background-color: white;
                text-transform: uppercase;
                color: $list-color;
                font-size: 15px;
                font-weight: 500;
                padding: 0 15px;
                line-height: 22.5px;
            }

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                text-decoration: none;
                text-transform: uppercase;
                color: $list-color;
                font-size: 15px;
                font-weight: 500;
                line-height: 22.5px;
                padding: 0 15px;
            }
        }
    }
}
